
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/libs/font-awesome-4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/common.css">


<!-- Latest compiled and minified JavaScript -->
<script src="/libs/jquery-1.11.3.min.js"></script>
<script src="/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/scripts/common.js"></script>

<title>Admin : Bestscaper</title>
