<footer style="padding:33px 10px; position:relative;">
	<div class="row" style="text-align:center;">
		<div class="col-xs-4">
			<p style="margin-bottom:20px; font-size:1.2em;">ABOUT</p>
			<ul style="line-height:1.3">
				<li><a href="/about">About Us</a></li>
				<li><a href="/about#services">Service</a></li>
			</ul>
		</div>
		<div class="col-xs-4">
			<p style="margin-bottom:20px;font-size:1.2em;">HELP</p>
			<ul style="line-height:1.3">
				<li><a href="/about#contact">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-xs-4" itemscope itemtype="http://schema.org/Organization">
			<p style="margin-bottom:20px; font-size:1.2em;">CONNECT WITH</p>
			<a href="https://www.facebook.com/bestscaper" itemprop="sameAs">
				<div class="social-icons" style="background : #40509F;">
					<i class="fa fa-facebook "style="color:white; font-size:1.6em ;line-height:1.8"></i>
				</div>
			</a>
			<a href="https://twitter.com/bestscaper" itemprop="sameAs">
				<div class="social-icons" style="background : #40A3E4;" >
					<i class="fa fa-twitter" style="color:white; font-size:1.6em ;line-height:1.8"></i>
				</div>
			</a>
			<a href="https://plus.google.com/102200338272001105210/about" itemprop="sameAs">
				<div class="social-icons" style="background : #F33E10;">
					<i class="fa fa-google-plus" style="color:white; font-size:1.6em ;line-height:1.8"></i>
				</div>
			</a>
		</div>
	</div>
	<div style="position:absolute; bottom:10px; width:97%">
		<div style="text-align:center;">
			2015 Bestscaper All right reserved.
		</div>
	</div>
</footer>
<style>
	footer{
		/*background-image:-webkit-linear-gradient(rgb(8, 23, 5) 0%, #091703 100%);*/
		/*background-image:-o-linear-gradient(rgb(8, 23, 5) 0%, #091703 100%);*/
		/*background-image:linear-gradient(rgb(8, 23, 5) 0%, #091703 100%);*/
		background:#071302;
		margin-top:40px;
		min-height: 160px;
		color:#CDD5D5;
	}
	footer ul a{
		color:#CDD5D5;
		text-decoration: none;
		-webkit-transition: all .4s ease-in-out;
       	-o-transition: all .4s ease-in-out;
      	transition: all .4s ease-in-out;
	}
	footer ul a:hover{
		color:#04BC08;
		text-decoration: none;
	}
	
	footer .social-icons{
		border-radius:50%; 
		width:45px; 
		height:45px; 
		display:inline-block;
		cursor:pointer;
	}
	footer .social-icons i{
		color:#CDD5D5;
		font-size:1.6em; 
		line-height:1.8;

	}
</style>