<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= title%></title>
<meta name = "keywords" content="<%-keywords%>">
<meta name = "description" content="<%-description%>">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/libs/font-awesome-4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/common.css">


<!-- Latest compiled and minified JavaScript -->
<script src="/libs/jquery-1.11.3.min.js"></script>
<script src="/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/scripts/common.js"></script>


<!-- google maps -->
<!-- 
<script src="http://maps.google.com/maps/api/js?key=AIzaSyD7EDlQR8nEGKFnv6Csf7PjwuVCVqLGGgA&sensor=false&libraries=places&language=en"></script> -->

<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69187199-1', 'auto');
  ga('send', 'pageview');

</script>

