<div style="background-color:#C7C2C1;height:70px; padding:10px; margin-top:15px;">
	<div style="display:inline-block; margin-left:10px; border-right:1px solid #E5E5E5; padding-right:20px;">
		<p style="font-size:1.3em; font-weight:bold; color:#454242; margin:0;">Connect with us</p>
		<div style="display:inline-block;">
			<a href="https://www.facebook.com/bestscaper" target="_blank">
				<img src="http://www.bestscaper.com/images/facebook.png"  style="width:35px;">
			</a>
		</div>
	
	
		<div style="display:inline-block;">
			<a href="https://twitter.com/bestscaper" target="_blank">
				<img src="http://www.bestscaper.com/images/twitter.png"  style="width:35px;">
			</a>
		</div>
	
		<div style="display:inline-block;">
			<a href="https://plus.google.com/102200338272001105210/about" target="_blank">
				<img src="http://www.bestscaper.com/images/google.png"  style="width:35px;">
			</a>
		</div>
	</div>

	<div style="display:inline-block; margin-left:40px; font-size:0.85em">
		<p>
		<a href="http://www.bestscaper.com" style="color:#454242; text-decoration:none" target="_blank">View as Webpage</a>
		<span style="color:#454242;"> | </span>  
		
		<a href="http://bestscaper.com/users/me/account/email" style="color:#454242; text-decoration:none" target="_blank">Unsubscribe</a>
		</p>
	</div>
</div>