<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<div style="width:600px;margin:0 auto;">
		<%- include('./email-header.html')-%>
			<p>Dear <%= name %>,</p>
			<br>
			<p>
				You have requested to activate your account at <%=appName%>
			</p>
			<p>Please visit this url to activate your account:</p>
			<p><a href="<%=url%>"><%=url%></a></p>
			<strong>If you didn't make this request, you can ignore this email.</strong>
			<br>
			<br>
			<p>The <%= appName %> Support Team</p>
		<%- include('./email-footer.html')-%>
	</div>
</body>
</html>
