<html>
	<head>
		<%- include('../../../layout/head.html') -%>
		<script src ="/libs/moment.min.js"></script>
		<link rel="stylesheet" href="/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
		<script src ="/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
		<style>
		.check-company{
			margin-left:.2em;
			margin-right:.2em;
		}
		.check-post{
			margin-left:.2em;
			margin-right:.2em;
		}
		.log{
			padding:1.2em;
			border-radius: 10px;
			margin-bottom:10px;
		}
		.danger{
			color:#D70000;
		}
		.success{
			color:#419A1A;
		}

		</style>
	</head>
	<body>
		<%- include('../../../layout/header.html') -%>
		<div class="container space-top-20">

			<div class="row">
				<%- include('../sidebar.html')%>
				<div class="col-xs-10" style="padding-left:40px;">
					<div style="margin-bottom:30px;">
						<h4 style="font-size:1.4em">Change Password</h4>
					</div>
					<form id="passwordForm" style="max-width:700px; margin:0 auto;">
						<div class="form-group">
						    <label for="password">Existing Password</label>
						    <input type="password" class="form-control" id="existingPassword" placeholder="Existing Password">
					    </div>
					    <div class="form-group">
						    <label for="password">New Password</label>
						    <input type="password" class="form-control" id="newPassword" placeholder="New Password">
					    </div>
					    <div class="form-group">
						    <label for="password">Confirm Password</label>
						    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
					    </div>
					    <div class="clearfix">
					    <p id="passwordMessage" class="pull-left"></p>
					    <input type="submit" class="btn btn-success pull-right" value="Change">
					    </div>
				    </form>
				    
				</div>
			</div>
		</div>	
		<%- include('../../../layout/footer.html') -%>
		<script>
		$("#passwordForm").on('submit',function(event){
			event.preventDefault();
			
			changePassword();
		})
		function changePassword(){
			var currentPassword = $('#existingPassword').val(),
				newPassword = $('#newPassword').val(),
				confirmPassword = $('#confirmPassword').val();

			if(newPassword === confirmPassword){
				if(newPassword.length > 6){
					var formData = {
						currentPassword : currentPassword,
						newPassword : newPassword,
						verifyPassword : confirmPassword
					}

					jQuery.ajax({
					    url: "/users/password/change_password", 
					    type: "POST",
					    statusCode : {
					    	500 : function(err){
					    		console.log(err);
					    	},
					    	400 : function(err){
					    		console.log(err);
					    	}
					    },
					    data: formData,
					    success: function (data, textStatus, jqXHR) { 
				    		// 		
				    		if(data.status == 'success'){
				    			// render the images by using ejs template.
				    			// renderPhoto(data.photos);
								$('#passwordMessage').html('Password has been changed');
								$('#passwordMessage').attr('class', 'success')
				    		}
					        
					    }
					});
				}else{
					// password has to be over 6 characters
					$('#passwordMessage').html('Password is too short.');
					$('#passwordMessage').attr('class', 'danger')

					$('#newPassword').focus();
				}
			}else{
				// password has to be matched 
				$('#passwordMessage').html('Password is not matched.');
					$('#passwordMessage').attr('class', 'danger')

				$('#confirmPassword').focus();
			}
		}
		</script>
	</body>
</html>